{% extends 'student/s_dash.html' %}
{% load crispy_forms_filters %}

{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">T E A C H E R S</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>sl No.</th>
                          <th>PHOTO</th>
                          <th>NAME</th>
                          <th>SUBJECT</th>
                          <th>GENDER</th>
                          <th>DOB</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in teacherdata_form %}
                        <tr>
                          <td class="py-1">{{ forloop.counter }}</td>
                          <td><img src="{{i.photo.url}}" style="width:50px;height:60px;"/> </td>
                          <td>{{ i.name }}</td>
                          <td>{{ i.subject }}</td>
                          <td>{{ i.gender }}</td>
                          <td>{{ i.DoB }}</td>


                        </tr>

                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


{% endblock %}