{% extends 'teacher/dash.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Notification</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>sl No.</th>
                          <th>student</th>
                          <th>attendane</th>
                          <th>date</th>
                          <th>time</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in attendance %}
                        <tr>
                          <td class="py-1">{{ forloop.counter }}</td>
                          <td>{{ i.student }}</td>
                          <td>{{ i.attendance }}</td>
                          <td>{{ i.date}}</td>
                          <td>{{ i.time}}</td>

                        </tr>

                      {% endfor %}


{% endblock %}