{% extends 'teacher/dash.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label>Attendence</label><br><br><br>
              <div>
                <input type="radio" name="attendance" value="present" required>Present<br>
                <input type="radio" name="attendance" value="absent" required>Absent<br>
              </div>



            </div>

            <button type="submit" class="btn btn-danger">Mark Attendance</button>
            </form>
{% endblock %}